.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.packages
build/
*.iml

# APK / AAB output files
*.apk
*.aab

# Environment & secrets
.env
*.keystore
key.properties

# OS
.DS_Store
# .github/workflows/

# Node.js
node_modules/
dist/
.wrangler/
